.nav {
  background-color: orange;
  font-family: "Poiret One", cursive;
  font-size: 2.4vh;
}
body {
  background: url("../images/plash6.jpeg") no-repeat;
  background-size: cover;
}

form {
  text-align: right;
}
.ee {
  margin-top: 15vh;
  margin-left: 1vh;
  text-align: center;
  color: black;
  font-family: "Poiret One", cursive;
  font-size: 2.5vh;
}
.table {
  text-align: left;
  background-color: white;
}
#k {
  text-align: center;
}
#contact {
  text-align: center;
}
