.nav {
  background-color:orange;
  font-family: "Poiret One", cursive;
  font-size: 2.4vh;
}
body {
  background: url("../images/plash.jpeg") no-repeat;
  background-size: cover;
}
.pp{
  color:whitesmoke;
}
form {
text-align: right;
}
.ee{
  margin-top: 15vh;
margin-left: 1vh;
  text-align: center;
color:black;
}